.example-spacer {
  flex: 1 1 auto;
}
#chores {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#chores td,
#chores th {
  border: 1px solid #ddd;
  padding: 8px;
}

#chores tr:nth-child(even) {
  background-color: #f2f2f2;
}

#chores tr:hover {
  background-color: #ddd;
}

#chores th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #673ab7;
  color: white;
}
