<br>
<mat-toolbar color="white">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>kitchen</mat-icon>
  </button>
  <span>Chores</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Add Chores
  </button>
</mat-toolbar>

<!-- <div class="container">
  <div style="margin-top: 10px">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Points</th>
          <th>Priority</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listData"></tbody>
    </table>
  </div>
</div> -->

<!-- <div class="container">
  <div style="margin-top: 10px">
    <table id="chores" class="table table-bordered">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Points</th>
          <th>Priority</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <td>Help</td>
        <td>Help</td>
        <td>Help</td>
        <td>Help</td>
        <td>Help</td>
      </tbody>
    </table>
  </div>
</div> -->
