<br />
<mat-toolbar color="white">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>assignment</mat-icon>
  </button>
  <span>Homework</span>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    style="background-color: #3a68b7; color: white"
    (click)="openDialog()"
    *ngIf="is_parent"
  >
    Add Homework
  </button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="task_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Name</th>
          <td mat-cell *matCellDef="let row">{{ row.task_name }}</td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
          <td mat-cell *matCellDef="let row">{{ row.points }}</td>
        </ng-container>

        <ng-container matColumnDef="task_priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
          <td mat-cell *matCellDef="let row">{{ row.task_priority }}</td>
        </ng-container>

        <ng-container matColumnDef="date_completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Completion Date
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.date_completed | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button
              *ngIf="is_parent"
              mat-icon-button
              (click)="editHomework(row)"
              color="#3a68b7"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="is_parent"
              mat-icon-button
              (click)="deleteHomework(row.id)"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              *ngIf="!is_parent"
              mat-button
              class="w-100 btn btn-sm btn-outline-primary"
            >
              Mark Completed
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 50]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
