<div class="card mb-4 rounded-3 shadow-sm"  >
  <div
    class="card-header py-3"
    [style.backgroundColor]="isChecked ? 'lightgreen' : 'red'"
  >
    <h4 class="my-0 fw-normal">
      {{ taskitem.task_name }}
      <!-- <mat-slide-toggle [(ngModel)]="isChecked" class="markComplete" color="success" (click)="markCompleted()" style="float: right ;"></mat-slide-toggle> -->
    </h4>

  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">
      100<small class="text-muted fw-light">&nbsp;pts</small>
    </h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>Category : Chores</li>
      <li>Topic : {{ taskitem.task_name }}</li>
      <li>Task Priority : {{ taskitem.task_priority }}</li>
      <li>Finish by: {{ taskitem.date_completed | date }}</li>
    </ul>
    <button
      mat-button
      (click)="openDialog()"
      class="w-100 btn btn-lg btn-outline-primary"
    >
      View Description
    </button>
    <button
      *ngIf="isChecked === false"
      mat-button
      (click)="markCompleted()"
      class="w-100 btn btn-lg btn-outline-primary"
    >
      Mark Completed
    </button>
    <!-- <button >Open dialog</button> -->
  </div>
</div>
